@import "effects";
@import "vars";
@import "mixins";
@import "header";
@import "middleIndexPage";
@import "footer";
@import "middleProductPage";
@import "middleCatalogPage";
@import "middleCartPage";
@import "middleRegPage";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  position: relative;
  overflow: hidden;
}

@import "media";
